

/* .form-container {
    width: 50vw;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 7.5vh;
}

.form-container h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin: 0;
    padding: 1rem;
    margin: 0 1vh;
} */